*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}